<a href="https://colab.research.google.com/github/mohanaditya910/CNN/blob/master/tom%26jerry/initial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')
%ls

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/
drive/  sample_data/

In [5]:
import pandas as pd

train_df = pd.read_csv('/content/drive/My Drive/tom&jerry/Train.csv')
test_df  = pd.read_csv('/content/drive/My Drive/tom&jerry/Test.csv')

train_df.head()

     Frame_ID    Emotion
0  frame0.jpg      happy
1  frame1.jpg      happy
2  frame2.jpg  surprised
3  frame3.jpg  surprised
4  frame4.jpg      angry

In [6]:
emotion_map={'angry':0,'happy':1,'sad':2,'surprised':3,'unknown':4}
inverse_map={0:'angry',1:'happy',2:'sad',3:'surprised',4:'unknown'}
train_df['Emotion']=train_df['Emotion'].map(emotion_map)

train_df['Emotion'].head()

0    1.0
1    1.0
2    3.0
3    3.0
4    0.0
Name: Emotion, dtype: float64

In [0]:
import cv2
import os
import math


count = 0
videoFile = "/content/drive/My Drive/tom&jerry/Test Tom and Jerry.mp4"
base_file_path = "/content/drive/My Drive/tom&jerry/Test_frames"
if not os.path.exists(base_file_path):
  os.mkdir(base_file_path)
cap = cv2.VideoCapture(videoFile) # capturing the video from the given path
frameRate = cap.get(5) #frame rate
x=1
while(cap.isOpened()):
  frameId = cap.get(1) #current frame number
  ret, frame = cap.read()
  if (ret != True):
    break
  if (frameId % math.floor(frameRate) == 0):
    filename ="frame%d.jpg" % count;count+=1
    frame_path = os.path.join(base_file_path,filename)
    cv2.imwrite(frame_path, frame)
cap.release()

In [0]:
train_df[104:122]

         Frame_ID  Emotion
104  frame104.jpg  Unknown
105  frame105.jpg  Unknown
106  frame106.jpg  Unknown
107  frame107.jpg  Unknown
108  frame108.jpg  Unknown
109  frame109.jpg  Unknown
110  frame110.jpg  Unknown
111  frame111.jpg  Unknown
112  frame112.jpg  Unknown
113  frame113.jpg  Unknown
114  frame114.jpg  Unknown
115  frame115.jpg  Unknown
116  frame116.jpg  Unknown
117  frame117.jpg  Unknown
118  frame118.jpg  Unknown
119  frame119.jpg  Unknown
120  frame120.jpg  Unknown
121  frame121.jpg  Unknown